@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-dark-950 text-dark-50;
  }

  body {
    @apply bg-dark-950 text-dark-50 font-sans transition-colors duration-300;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-dark-50;
  }

  a {
    @apply text-primary-600 hover:text-primary-700 transition-colors duration-200;
  }

  button {
    @apply bg-primary-600 text-dark-950 font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-primary-700 hover:shadow-xl transition-all duration-300 transform hover:-translate-y-0.5;
  }

  .card {
    @apply bg-dark-100 rounded-xl shadow-lg
           p-6 transition-all duration-300 transform
           hover:scale-105 hover:shadow-xl
           border border-dark-300;
  }

  .header {
    @apply bg-dark-100 shadow-lg border-b border-dark-300;
  }

  .footer {
    @apply bg-dark-200 text-dark-800 py-6 border-t border-dark-300;
  }

  .input {
    @apply border border-dark-400 rounded-lg p-3 bg-dark-100 text-dark-950 focus:outline-none focus:ring-2 focus:ring-primary-600 focus:border-transparent transition-all duration-200;
  }

  .nav-link {
    @apply text-dark-700 hover:text-primary-600 transition-colors duration-200 relative;
  }

  .nav-link::after {
    content: "";
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-primary-600 transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }
}
